//code.apowo.com/api/v4/projects/4/packages/npm/:_authToken=ZENNP-PShY8RRHqXxCfz
//code.apowo.com/api/v4/packages/npm/:_authToken=ZENNP-PShY8RRHqXxCfz
@PixelPai:registry=https://code.apowo.com/api/v4/packages/npm/